# Python Code

In [3]:
print("Hello World")

Hello

## Integers

In [1]:
print(10)
print(type(10))

10
<class 'int'>

## Floating-Point Numbers

In [2]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

## String

In [5]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [6]:
print('') # String kosong

In [7]:
print("This is string contains a single quote (') character.")
print('This is string contains a double quote (") character.')

This is string contains a single quote (') character.
This is string contains a double quote (") character.

## Boolean Type, Boolean Context, and "Truthiness"

In [8]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable Assignment

In [13]:
n = 300
print(n)

300

In [12]:
n

300

In [15]:
n = 1000
print(n)
n

1000

1000

In [18]:
a = b = c = 300
print(a, b, c)

300 300 300

## Variable Types in Python

In [19]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

## Variables Names

In [20]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [93]:
# Tidak boleh dimulai dengan angka

# error
# 9_kepala_naga = True

In [24]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

## Operators and Expressions in Python

In [25]:
a = 10
b = 20
a + b

30

In [26]:
a = 10
b = 20
a + b - 5

25

## Arithmetic Operators

In [27]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [28]:
10 / 5

2.0

## Comparison Operators

In [30]:
a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

## String Manipulation

In [32]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [33]:
# * Operators
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [37]:
# in Operators
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [39]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

## Python Lists

In [40]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

## List Are Ordered

In [41]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

## List Can Contain Arbitrary Objects

In [42]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

## List Elements Can Be Accessed by Index

In [43]:
a = ['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
print(a[0])
print(a[5])

foo
corge

In [44]:
print(a[-1])
print(a[-6])

corge
foo

In [45]:
a = ['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
a[2:5]

['baz', 'quz', 'quux']

In [46]:
# The concatenation (+) and replication (*) operators:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
['foo', 'bar', 'baz', 'quz', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'quz', 'quux', 'corge', 'foo', 'bar', 'baz', 'quz', 'quux', 'corge']

In [47]:
# len(), min(), max()
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
6
bar
quz

## Modifying a Single List Value

In [48]:
a = ['foo', 'bar', 'baz', 'quz', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
['foo', 'bar', 10, 'quz', 'quux', 20]

In [50]:
# A list item can be deleted with the del command:
print(a)

del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]
['foo', 'bar', 10, 20]

## Modifying Multiple List Values

In [53]:
a = ['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
print(a)

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

a[1:4] = ['a', 'b']
print(a)

['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
['bar', 'baz', 'quz']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']
['foo', 'a', 'b', 4.4, 5.5, 'quux', 'corge']

## Python Tuples

In [54]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [55]:
print(t[0])
print(t[-1])

foo
corge

In [92]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

# error
# t[0] = 'abc'

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [60]:
# packing and unpacking
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'quz')

s1

'foo'

## Python Dictionary

In [71]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto]

Twins
Rockies

In [72]:
# Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [73]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [74]:
# To delete an entry, use del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

## Building a Dictionary Incrementally

In [85]:
person = {}
print(type(person))

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog' : 'Fido', 'cat' : 'sox'}

<class 'dict'>

In [77]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'sox'}}

In [78]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [79]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [84]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'sox'}
sox

In [88]:
# Built-in Methods
d = {'a' : 10, 'b' : 20, 'c' : 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuatuin

In [89]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [91]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) 
    or (person2_age >= 18 and person2_age <= 65) 
    or (person3_age >= 18 and person3_age <= 65)
)
someone_is_of_working_age

True